@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer base {
  body {
    @apply bg-background text-text-primary;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 1px;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }

  .scrollbar-thumb-gray-400::-webkit-scrollbar-thumb {
    background-color: #9ca3af;
    border-radius: 6px;
  }

  .scrollbar-track-transparent::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .scrollbar-thumb-gray-500:hover::-webkit-scrollbar-thumb {
    background-color: #6b7280;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
}

/* Remove unwanted top margin on tab panels */
[role="tabpanel"] {
  margin-top: 0 !important;
}

/* hide-scrollbar utility */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Custom image theme opacity utilities */
.sidebar-background {
  background-color: rgba(0, 0, 0, var(--sidebar-opacity)) !important;
}

.card-background {
  background-color: rgba(0, 0, 0, var(--card-opacity)) !important;
}
